
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    border: 0px solid red;
}

h1, p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    position: bottom;
    
}

.logo {
    font-family: 'Poppins', sans-serif;
}

* {
    border: 0px solid red;
}

section {
        background: #1F1D2B;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 100px;

    p {
        font-size: 36px;
        letter-spacing: 2px;
        padding-top: 10px;
        margin: 0;
        
    }

    .mirjalol {
        background: url('../img/person-bg.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 450px;
        height: 450px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    span {
        position: absolute;
        width: 250px;

        img {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }

    .laptop {
        animation: laptop ease-in-out 3s;
        left: 10%;
        top: 50%;
        cursor: pointer;
        opacity: 100%;
    }

    @keyframes laptop {
        0% {
            left: 100%;
            top: -100%;
            display: none;
        }

        100% {
            left: 10%;
            top: 50%;
            display: block;
            opacity: 70%;
        }
    }

    .headphones {
        animation: headphones ease-in-out 11s;
        right: 10%;
        top: 40%;
    }

    @keyframes headphones {
        0% {
            right: 100%;
            top: -100%;
            display: none;
        }

        100% {
            right: 10%;
            top: 40%;
            display: block;
            opacity: 70%;
        }
    }

    .mouse-one {
        animation: mouse-one ease-in-out 6s;
        // left: 70%;
        // top: 80%;
        left: 20%;
        top: -20%;
    }


    @keyframes mouse-one {
        0% {
            left: 110%;
            top: -100%;
            display: none;
        }

        50% {
            left: 20%;
            top: 65%;
            display: block;
        }

        100% {
            left: 20%;
            top: -20%;
            display: none;
        }
    }

    .mouse-two {
        animation: mouse-two ease-in-out 30s;
        right: 10%;
        top: 70%;
        transform: rotate(-45deg);
    }

    @keyframes mouse-two {
        0% {
            right: 100%;
            top: -100%;
            display: none;
        }

        37% {
            right: 4%;
            top: 55%;
            display: block;
            transform: rotate(-25deg);
        }

        70% {
            right: 70%;
            top: 45%;
            transform: rotate(95deg);
        }


        100% {
            right: 10%;
            top: 70%;
            transform: rotate(-45deg);
        }
    }

}