{% set title = "Index" %}

{% extends "main.tpl" %}

{% block content %}


<!----------------- Scroll-up start ------------------>

    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>



<!----------------- Services start ------------------>

	<section id="services" class="section-two">
		<div class="section-two-inner container">
			<div class="box-text">
				
				<div>
						<h2 class="block-title">This is what I can</h2>
						<div class="block-line"></div>
						<div class="block-subtitle">
							No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
						</div>
                </div>
                    
			</div>

			<div class="box-card">

				<div class="box-card-child-first" >
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Telegram creation of bots</h3>
                                <div class="iconbox-desc">
                                    Good things come to those who wait, but only the things left by those who hustle
                                </div>
                        </div>
                
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">Web Programming</h3>
                                <div class="iconbox-desc">
                                    Good things come to those who wait, but only the things left by those who hustle
                                </div>
                        </div>
                        
                    </div>
                </div>

				<div class="box-card-child-second">
                    <div class="iconbox">

                        <div class="iconbox-icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">It Engineering</h3>
                                <div class="iconbox-desc">
                                    Good things come to those who wait, but only the things left by those who hustle
                                </div>
                        </div>
                        
                    </div>
    
                    <div class="iconbox">
    
                        <div class="iconbox-icon">
                            <i class="fa fa-industry" aria-hidden="true"></i>
                        </div>
                        <div class="iconbox-text">
                                <h3 class="iconbox-title">TopLog system Administration in 1C platform</h3>
                                <div class="iconbox-desc">
                                    Good things come to those who wait, but only the things left by those who hustle
                                </div>
                        </div>
                        
                    </div>
                </div>

			</div> 
		</div>
	</section>



<!----------------- Portfolio start ------------------>

        <section id="portfolio" class="section-tree">

            <div class="section-inner container">
            

                <div class="box-text">
    
                        <div class="block-header">
                            <h2 class="block-title">My works</h2>
                            <div class="block-line"></div>
                            <div class="block-subtitle">
                                No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                            </div>
                        </div>
    
                </div>
    
                
                <div class="example" id="templates">
                    <div>

                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/051-Halcyon.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/051-Unity.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="" class="title">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/052-Arkana.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="box-cards">
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/055-Pex.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-cards" >
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/056-Zet.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="#" class="title" id="modal-one">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="imgBox">
                                    <img src="../../images/069-Детский планетарий.jpg" alt="">
                                    <div class="overlay-text">
                                        <div class="hover-click">
                                            <a href="" class="title">
                                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </section>



<!----------------- Skills start ------------------>

        <section id="skills" class="section-four">
            <div class="section-inner container">
                <div class="box-text">
                    <div>
                        <h2 class="block-title">My Skills</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">

                        </div>
                    </div>
                </div>
                <div class="skills">

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">TELEGRAM CREATION OF BOTS</h3>
                            <p class="percent">40%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="telegramm-bot"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">WEB PROGRAMMING</h3>
                            <p class="percent">60%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="programming"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">IT ENGINEERING</h3>
                            <p class="percent">90%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="it-engineering"></span></span>
                        </div>
                    </div>

                    <div class="skills-box">
                        <div class="text">
                            <h3 class="iconbox-title">TOPLOG SYSTEM ADMINISTRATION IN 1C PLATFORM</h3>
                            <p class="percent">100%</p>
                        </div>
						<div class="box-inner">
                            <span class="bar"><span class="toplog-administration"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!------------------ Hire Me start ------------------->

        <section class="section-five">
            <div class="section-inner">

                <div class="block container">
    
                    <div class="text">
                        <h2 class="block-title">ARE YOU READY TO START?</h2>
                        <div class="block-subtitle">
                            I'm available for freelance projects.
                        </div>
                    </div>
    
                    <div class="button">
                        <div>
                            <a href="#contact" class="btn-text">hire me</a>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>



<!--------------- Testimonials start ----------------->

        <section id="testimonials" class="section-six">
            <div class="section-inner container">
    
                <div class="block">
                    <div>
                        <h2 class="block-title">What my partners say</h2>
                        <div class="block-line"></div>
                        <div class="block-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                        </div>
                    </div>
                </div>
                <div class="block-two">
                    <div id="partners" class="partners">
                        <div class="partner-one">
                            <blockquote>
                              <p>It was a pleasure to work with Mirjalol. He knew exactly what I wanted, and created an awesome site.</p>
                              <footer> Khumoyun Inayatov </footer>
                            </blockquote>
                            <img src="../../images/partner-1.jpg" alt="client-1">
                        </div>
                        <!-- <div class="partner-two" style="transition: opacity 700ms ease 0s;">
                            <blockquote>
                              <p>I'm really happy with the results. Get 100% satisfaction is difficult but Alex got it without problems.</p>
                              <footer>Jane Doe</footer>
                            </blockquote>
                            <img src="../../images/052-Arkana.jpg" alt="client-2">
                        </div> -->
        
                        <!-- <span class="cbp-qtprogress" style="transition: width 8000ms linear 0s; width: 100%;"></span> -->
                    </div>		
        
                </div>
            </div>
        </section>

{% endblock %}