
.container-fluid {
    height: 100%;
}

.lazy {
    width: 55px;
}

.section-work {
    height: 100%;
    // background: #15161e;

    &__inner {
        width: 100%;
        height: 100%;
        margin-top: 150px;
    }

    &__title-container {
        justify-content: space-between;
        padding-top: 0;
        margin: 0;
        height: 100%;
        // height: 160px;

            .line {
                width: 100px;
                height: 1.1px;
                background: #fff;
            }

            h1 {
                text-align: center;
                color: #fff;
                padding: 0;
                margin: 0;
            }

            p{
                text-align: center;
                letter-spacing: 2px;
                color: #fff;
                padding: 0;
                margin: 0;
            }
    }

    &__card {
        background: #1F1D2B;
        border: none;
        width: 400px;
        height: 365px;
        padding: 15px;
        margin: 35px 35px 50px 35px;
    }

    &__card-inner {
        transition: 0.3s;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    &__card-inner:hover {
        text-decoration: none;

        .section-work__card-header, .section-work__card-body {
            transition: 0.3s;
            border: 1px solid #fff;
        }

        .section-work__card-header{
            border-bottom: 0px;
        }
    }

    &__card-header {
        border: 1px solid rgba(211, 211, 211, 0.616);
        border-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 30px;
        padding-left: 10px;

        span {
            margin: 2px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #fff;
        }
    }

    &__card-body {
        border: 1px solid rgba(211, 211, 211, 0.616);
        width: 100%;
        height: 100%;

        img {
            width: 350px !important;
            height: 200px !important;
        }

        // span {
        //     width: 100%;
        //     height: 100%;
        //     background-image: url('/img/front.png');
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        // }
    }

    &__card-title {
        font-size: 18px !important;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 25px;
    }

    &__button {
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        width: 100px;
        padding: 15px;
        margin: 35px 0;
        color: #fff;
        background-color: #1F1D2B;
        border: 1px solid rgba(211, 211, 211, 0.616);

        #showMore {
            span {
                color: #fff;
            }
        }
    }

    &__button:hover {
        border: 1px solid #fff;
    }
}